./factorial/target
./sky_works/prime/target
./sky_works/exclusion/target
./sky_works/generics/target
./sky_works/array/target
./sky_works/enum_match/target
./four_sum/target
./hello-world/target
./generated/target
./reverse/target
./structure/target
./lsp/target
./tree/target
./storage_system/target
./generic_functions/target
./task_manager/target
./longest/target
./shape_area_calculator/target
./payment_method/target
./linked_list/target
./dip/target
./system_info_cli/target
./calculator/target
./area/target
./book_shop/target
./mutators_accessors/target
./dip2/target
./rect/target
./wiggle_sort/target
./two_sum/target
./square_root/target
./generic_functions2/target
./isp/target
./stats/target
./user_management_system/target
./mail/target
